yasb/yasb.log
PowerShell/Modules/z/1.1.13
nvim-data
Default.rdp
desktop.ini
scoop
Saved Games/
configstore/update-notifier-@google
My Games
PowerShell/Modules/z/1.1.14
The Witcher 3
Session.vim
clojure
emacs/eln-cache/30.2-0424f8e2
emacs/elpaca
emacs/config.org~
emacs/auto-save-list
emacs/#config.org#
emacs/recentf
emacs/.#config.org
emacs/history
emacs/projects
emacs/org-roam.db
emacs/backup
emacs/.org-id-locations
emacs/bookmarks
emacs/backups
emacs/projectile-bookmarks.eld
.projectile-cache.eld
emacs/$null
emacs/tree-sitter
emacs/.cache/lsp/lua-language-server
emacs/.lsp-session-v1
emacs/.cache/lsp/npm/vscode-langservers-extracted
emacs/.cache/lsp/clangd
